<form action='' method = "POST">
  <p>name <input type = "text" name = "name" pattern="\b([A-ZÀ-ÿ][-,a-z. ']+[ ]*)+" title="Field should contain both name and surname"/></p>
  <p>age <input type = "integer" name = "age" pattern="^(1[89]|[2-5][0-9]|6[0-5])$" title="Age should not be below 18 and above 65"/></p>
  <p>position <input type = "text" name = "position" pattern="^[A-Z].*" title="The position should start with capital letter"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>